.dart_tool/
.packages
.pub/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-configuration
.dart_tool/
.idea/
.vscode/
*.iml
*.apk
*.ipa
*.app
*.dill
*.hprof
*.log
*.lock
*.keystore
pubspec.lock
